.img-uno {
    margin-left: auto;
    display: block;
    width: 266px;
    margin-right: auto;
}

.img-dos {
    margin-left: auto;
    display: block;
    width: 266px;
    margin-right: auto;
}

.img-tres {
    margin-left: auto;
    display: block;
    width: 266px;
    margin-right: auto;
}